/* Styles de puces */
.square-list {
  list-style-type: square;
}
.square-list {
  list-style-type: none;
}
.square-list li::before {
  content: '🌱';
}
.image-list {
  list-style-image: url('puce.png');
}

.inside-list {
  list-style-type: disc;
  list-style-position: inside;
}

.outside-list {
  list-style-type: circle;
  list-style-position: outside;
}

/* Sélecteur :hover */
.hover-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.hover-link:hover {
  color: red;
}

/* Sélecteur :focus */
.focus-input {
  padding: 8px;
  border: 2px solid #ccc;
  outline: none;
}

.focus-input:focus {
  border-color: blue;
}

/* Sélecteur :active */
.active-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.active-button:active {
  background-color: gray;
}
